html, body {
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}

div#landingPage {
    height: 100%;
    background-image: url(images/pb_grad_vert.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
div#mainHeadingHorizontal {
    background-color: aquamarine;
    width: 25%;
    position: absolute;
    top: 2%;
    right: 0.5%;
    text-align: center;
}
div#mainHeadingVertical {
    background-color: rgba(200, 200, 200, 0.8);
    width: 80%;
    position: absolute;
    margin-left: -40.5%;
    top: 35%;
    left: 50%;
    text-align: center;
    border-radius: 15px;
}

div#mainInfo{
    background-color: rgba(200, 200, 200, 0.5);
    width: 80%;
    position: absolute;
    margin-left: -40.5%;
    top: 50%;
    left: 50%;
    text-align: center;
    border-radius: 15px;
}

div.scrollDir {
    background-color: rgba(200, 200, 200, 0.5);
    width: 10%;
    height: 10%;
    position: absolute;
    top: 89%;
    left: 89%;
}