html, body {
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}

div#landingPage {
    height: 100%;
    background-image: url(images/pb_grad_vert.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
div#mainHeadingHorizontal {
    background-color: aquamarine;
    width: 25%;
    position: absolute;
    top: 2%;
    right: 0.5%;
    text-align: center;
}
div#mainHeadingVertical {
    background-color: rgba(200, 200, 200, 0.8);
    width: 80%;
    position: absolute;
    margin-left: -40.5%;
    top: 40%;
    left: 50%;
    text-align: center;
    border-radius: 15px;
}

div#mainInfo{
    background-color: rgba(200, 200, 200, 0.5);
    width: 80%;
    position: absolute;
    margin-left: -40.5%;
    top: 50%;
    left: 50%;
    text-align: center;
    border-radius: 15px;
}

div#launcher{
  height: 50px;
  width: 50px;
  position: relative;
  top: calc(70% - 25px);
  left: calc(50% - 25px);
  background-color: rgb(105, 88, 88);
  border-radius: 50%;
  transform: rotate(0deg);
  z-index: 2;
}

div#launcher:hover{
  height: 54px;
  width: 54px;
  position: relative;
  top: calc(70% - 27px);
  left: calc(50% - 27px);
  background-color: rgb(105, 88, 88);
  border-radius: 50%;
  transform: rotate(0deg);
}

div#rightArrow{
  border: solid black;
  border-width: 0 3px 3px 0;
  top: calc(50% - 9px - 1.5px);
  left: calc(50% - 12px - 1.5px);
  display: inline-block;
  padding: 9px;
  position: absolute;
  transform: rotate(-45deg);
}

div#launcher:hover > div#rightArrow{
  border: solid black;
  border-width: 0 3px 3px 0;
  top: calc(50% - 11px - 1.5px);
  left: calc(50% - 14px - 1.5px);
  display: inline-block;
  padding: 11px;
  position: absolute;
  transform: rotate(-45deg);
}

* {
    box-sizing: border-box;
  }
  
  /* Set a background color */
  body {
    background-color: #474e5d;
    font-family: Helvetica, sans-serif;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline {
    position: relative;
    margin: 0 auto;
    z-index: 1;
    top: calc(70% - 27px);
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  div#end.bar {
    position: absolute;
    width: 8px;
    height: 5%;
    background-color: #474e5d;
    ;
    left: calc(50% - 4px);
    top: 95%;
    margin-bottom: -100px;
    z-index: 1;
  }

  /* Container around content */
  .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }

  /* Container around content */
  div#end.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: rgb(255, 0, 0);
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* The circles on the timeline */
  .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Place the container to the left */
  .left {
    left: 0;
  }
  
  /* Place the container to the right */
  .right {
    left: 50%;
  }
  
  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
  
  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -16px;
  }
  
  /* The actual content */
  .content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
  }