body{
	margin:0px;
	padding:0;
	color:#cccccc;
	font-family: "courier new";
}
h1{
	display: block;
	text-align: center;
	font-size: 78px;
	font-weight: 100;
}
a{
	color:#cccccc;
	text-decoration: none;
}
div.projects{
	background-image: url("Images/projectsbackground.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0px;
}
h1.projects{
	margin: 0px;
}
.cooking{
	background-image:url("Images/cookingbackground2blur.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
h1.cooking{
	color:#808080;
	background:none;
}
.music{
	background-image:url("Images/musicbackground.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
}
.paintings{
	background-image:url("Images/paintingsbackground2blur.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
}
h1.paintings{
	color:#cccccc;
	background:none;
}

figure{
	width:25%;
	border-left: 2px solid #cccccc;
}
figcaption{
	margin-left: 10%;
	width:250px;
	height: 100px;

}
p.caption{
	margin-top: 0px;
}
h4.caption{
	text-decoration: underline;
	margin-top: 1%;
	padding-top: 1%;
	margin-bottom: 1%;
}
img.caption{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
img.caption:hover{
	box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 4px rgba(0, 0, 0, 0.19);
}
p{
	text-align: left;
}
img{
	display: inline;
	height:200px;
	width:200px;
	border-radius:12px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
img#display{
	display: none;
}
div#displayarea1,div#displayarea2{
	display:none;
}
img:hover{
	box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 4px rgba(0, 0, 0, 0.19);
}
a.dlink:hover{
	color: white
}
li:hover{
	color: white;
}
i{
	margin-left: 20px;
}
i:hover{
	color: white;
}
ul.songs{
	text-align: left;
	list-style-type: disk;
}
button{
	padding:0px;
	border: 0px;
	border-radius: 12px;
	background:none;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
button:hover{
	box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 4px rgba(0, 0, 0, 0.19);
}
ul li{
	font-size: 24px;
}